* {
  box-sizing:border-box;

}

body {
  margin: 5px;
  padding: 5px;
  font-family: sans-serif;
  background-color: rgb(117, 228, 185);
  
}

#root {
  display:flex;
}

.UserList {
  margin: 10px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  border-radius: 5px;
  padding: 10px;
  width: 250px;
}

.UserList > ul {
  list-style-type: none;
  padding: 0;
}

.UserList > ul > li {
  background-color: rgb(51, 167, 15);
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.UserList > ul > li:hover {
  background-color: rgb(21, 138, 12);
}

h1 {
  font-family: monospace;
  font-size: 42px;
  flex-direction: column;
  margin: 5px;

}

.btn{
  font-size: 25px;
  padding: 4px 10px;
  margin-bottom: 10px;
  background-color: #1325c0;
  border-radius: 4px;

}